@media screen and (min-width: 760px) {
    .text-box--green {
        background-color: var(--clr-4);
        padding-top: calc(2rem + 80% * (5 / 7));
    }

    .text-box--pink {
            padding-top: calc( 2rem + 5% * (3 / 2));
        }

    .text__quote {
        padding: 0 4rem;
    }    

    .picture--opening {
        margin-right: 4rem;
        margin-left: 4rem;
    }

    .section__picture--flowout-5 {
        margin-bottom: calc(-5% * (3 / 2));
    }

    .section__text--about-me {
        padding-left: 8rem;
        padding-right: 8rem;
    }

    .section__picture--indentation {
        margin-left: 12rem;
        margin-right: 12rem;
    }

    .section__picture--flowout-80 {
        margin-bottom: calc(-80% * (5 / 7));
    }

    .box--best-of {
            margin-top: 2rem;
        }

    .picture-box--series {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 4rem;
        margin: 4rem;
        justify-content: center;
    }
    
    .picture-box__picture--columns {
        height: 100%;
        flex-basis: calc(100% / 2 - 2rem);
        margin: 0;
        flex-grow: 0;
    }

    .picture-box__picture--indentation {
        margin-left: 13rem;
        margin-right: 13rem;
    }

    /* Galerie */

    .main__picture--columns {
        flex-basis: calc(100% / 3 - .3rem);
    }
    .main__picture--columns:last-of-type {
        height: auto;
    }

    .main__picture--columns > a {
        height: 100%;
    }

    /* Žánrové fotografie – Časy minulé, Křehká krása, Svět bez barev */

        .picture--genre {
            margin: 2rem 10rem;
            background-color: var(--clr-3);
            padding: 3rem
        }

    /* Kontakt */

    .main__picture--border {
        margin: 5rem 20% 0 20%;
    }
}

